
$slate: lightslategrey;
$mossgreen: #90babd;

body {
  background-image:  url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/contemporary_china_2.png');
}

.jumbotron {
  background-color: $slate;
  h1 {
    color: $mossgreen;
    font-family: 'Megrim', cursive;
    font-size: 85px;
  }
}
/*@keyframes header {
  0% {background-color: lightblue;}
  25% {background-color: lightslategrey;}
  50% {background-color: lightpink;}
  100% {background-color: lightgreen;}
}*/

/*@keyframes circle {
  10% {
    transform: translateX(1px);
  }
  100% {
    transform: translateX(80px);
  }
}*/

@keyframes animate {
  0% {background-color: #C1F7DC;}
  25% {background-color: #DD9BD6;}
  50% {background-color: #FCB97D;}
  75% {background-color: #EDD892;}
  100% {background-color: #C1F7DC;}
}

.animate {
  background-color: lightblue;
  margin-top: 5px;
  animation-name: animate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}

#leftCircle {
  display: inline-flex;
  width: 40px;
  height: 30px;
  /*background: red;*/
  border-radius: 50px;
  margin-left: 2%;
  opacity: 0.7;
    /*background: radial-gradient(rgba(255,255,255,0.5), white);*/
  /*animation-duration: 3.5s;
  animation-iteration-count: infinite;*/
  /*animation-timing-function: ease-in;*/
  /*animation-direction: alternate;*/
  /*animation-name: circle;*/
}

.box {
  border: 3px black solid;
  border-radius: 10px;
  padding: 9px;
  margin-top: 5px;
}

.nameDisplay:hover {
  cursor: pointer;
  color: slateblue;
}

.meal-form {
  margin-top: 50px;
  border: 3px solid black;
  border-radius: 10px;
  padding: 30px 60px;
  background: $slate;
}

.select {
  margin-bottom: 10px;
}
